@use 'base/variables' as v;
@use 'base/mixins' as m;


.containerTable{
    height: 100%;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .containerFiltros{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 2rem;  
        @include m.tablet{
            width: 70rem;
        }
    }
    
    .table{
        width: 100%;
        background-color: v.$blanco;
        border-radius: 1rem;
        padding: 1rem 2rem;
        @include m.tablet{
            width: 70rem;
        }
        .contenedorAsistente{
            font-size: 1.2rem;
            text-transform: uppercase;
        }
        .contenedorTituloTabla{
            font-size: 1.3rem;
        }
        .encabezadoTabla{
            text-align: center;
            padding: 1.5rem 0;
            &.nombre{
                text-align: left;
            }
            
        }
        
        .contenidoTabla{
            padding: 1rem 0;
            &.checkboxCell{
                text-align: center;
            }
            &.registrador{
                text-align: center;
            }
        }
        
    }
    .buttonAsistenciaNuevos{
        background-color: v.$secundario;
        font-size: 1.3rem;
        color: v.$blanco;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
        border: 0px;
        padding: 1rem 2rem;
        border-radius: 1rem;
    }
}


