@use 'base/variables' as v;
@use 'base/mixins' as m;


.containerTable{
    height: 100%;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .containerFiltroRegistro{
        display: flex;
        flex-direction: column;
        margin: 0 0 2rem 0;
        width: 100%;
    }
    .totalAsistentes{
        width: 100%;
        text-align: left;
        padding: 2rem 0;
        font-size: 1.5rem;
        
    }
    
    
    .containerFiltros{
        display: flex;
        width: 100%;
        padding-bottom: 2rem; 
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        @include m.tablet{
            width: 70rem;
            flex-direction: row;
            justify-content: space-between;
        }
        .sectionFiltros{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 70%;
            @include m.telefono{
                width: 50%;
            }
            @include m.tablet{
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
            }
            .contentIndividualFiltro{
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }
            .containerFiltroXNombre{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                .filtrarNombre{
                    font-size: 1.5rem;
                    width: 100%;
                    @include m.tablet{
                        width: auto;
                    }
                }
                
                .closeFiltroNombre{
                    height: 2rem;
                    padding: .5rem;
                    border: solid .01rem gray;
                    border-radius: .3rem;
                    background-color: v.$blanco;
                    color: v.$secundario;
                    &:hover{
                        cursor: pointer;
                        color: v.$blanco;
                        background-color: v.$secundario;
                    }
                }
            }
        }
        
        
    }
    
    .table{
        width: 100%;
        background-color: v.$blanco;
        border-radius: 1rem;
        padding: 1rem 2rem;
        @include m.tablet{
            width: 70rem;
        }
        .contenedorAsistente{
            font-size: 1.2rem;
            height: 3rem;
            text-transform: uppercase;
        }
        .contenedorTituloTabla{
            font-size: 1.3rem;
        }
        .encabezadoTabla{
            text-align: center;
            padding: 1.5rem 0;
            &.nombre{
                text-align: left;
            }
            
        }
        
        .contenidoTabla{
            &.registrador{
                text-align: center;
            }
        }
        
    }
    .buttonAsistenciaNuevos{
        background-color: v.$secundario;
        font-size: 1.3rem;
        color: v.$blanco;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
        border: 0px;
        padding: 1rem 2rem;
        border-radius: 1rem;
        &:hover{
            cursor: pointer;
            background-color: v.$primario;
            color: v.$secundario;
            font-weight: 700;
        }
    }
}
select{
    width: 100%;
    @include m.tablet{
        width: auto;
    }
}
.fechaAsistencia{
    width: 100%;
    @include m.tablet{
        width: auto;
    }
}

.containerCheckbox{
    width: 100%;
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    .asistencia, .inasistencia{
        border-radius: .4rem;
        height: 2rem;
        width: 2rem;
        margin: .5rem 0 .5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: v.$negro;
        &:hover{
            cursor: pointer;
            color: v.$blanco;
        }
    }
    .asistencia{
        background-color: gray;
        opacity: .7;
        &:hover{
            background-color: v.$secundario;
        }
        &.clicadoAsistencia{
            background-color: v.$secundario;
            color:  v.$blanco;
            opacity: 1;
        }
    }
    .inasistencia{
        background-color: gray;
        opacity: .7;
        &:hover{
            background-color: v.$checkInasistencia2;
        }
        &.clicadoInasistencia{
            background-color: v.$checkInasistencia2;
            color: v.$blanco;
            opacity: 1;
        }
    }
}


