@use 'base/variables' as v;
@use 'base/mixins' as m;

.detalleNuevo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    @include m.tablet{
        justify-content: left;
    }
    .containerIcon{
        padding-right: 1rem;
        .iconUser{
            height: 5rem;
            color: v.$terciario;
        }
    }
    
        .contenedorTituloTabla{
            display: flex;
            flex-direction: column;
            padding: 0 1rem;
            text-align: left;
            line-height: 2rem;
            .encabezadoTabla{
                font-size: 1.3rem;
                color: v.$terciario;
            }
        }
        .contenedorInfoTabla{
            display: flex;
            flex-direction: column;
            line-height: 2rem;
            font-weight: lighter;
            .contenidoTabla{
                font-size: 1.3rem;
            }
        }
    }


.detalleAsistencia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
    .encabezadoTabla{
        font-size: 1.3rem;
        color: v.$terciario;
        height: 3rem;  
        padding: .5rem;
        width: 12rem;
    }
    .datosNuevo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .contenedorBodyMeses{
            display: flex;
            .contenidoTabla{
                display: flex;
                font-size: 1.2rem;
                font-weight: lighter;
                padding: .5rem;
                width: 12rem;
                justify-content: center;
            }
        }
       
    }
}